In [23]:
import pandas as pd
import numpy as np

In [24]:
elkart_toplam_19 = pd.read_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2019\44_202106_toplamyuklemeler2019 (1).csv" ,sep=";")

In [25]:
elkart_toplam_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8506 entries, 0 to 8505
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tarih                       8506 non-null   object
 1   saat                        8506 non-null   int64
 2   yukleme_adedi               8506 non-null   int64
 3   yukleme_yapilan_kart_adedi  8506 non-null   int64
dtypes: int64(3), object(1)
memory usage: 265.9+ KB

In [26]:
elkart_toplam_19.head()

        tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0  2019-01-01     0             67                          65
1  2019-01-01     1             10                           9
2  2019-01-01     2              1                           1
3  2019-01-01     3              3                           3
4  2019-01-01     4              1                           1

In [27]:
elkart_toplam_19['tarih'] = pd.to_datetime(elkart_toplam_19['tarih'] ,format="%Y-%m-%d")

In [28]:
#elkart_toplam_19['saat'] = pd.to_timedelta(elkart_toplam_19['saat'].astype(str) + ':00:00')

In [29]:
elkart_toplam_19['saat'] = pd.to_timedelta(elkart_toplam_19['saat'], unit='h')

In [30]:
elkart_toplam_19.head()

       tarih            saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2019-01-01 0 days 00:00:00             67                          65
1 2019-01-01 0 days 01:00:00             10                           9
2 2019-01-01 0 days 02:00:00              1                           1
3 2019-01-01 0 days 03:00:00              3                           3
4 2019-01-01 0 days 04:00:00              1                           1

In [32]:
elkart_toplam_19['tarih_saat'] = elkart_toplam_19['tarih'] + elkart_toplam_19['saat']

In [35]:
elkart_toplam_19.head()

,tarih,saat,yukleme_adedi,yukleme_yapilan_kart_adedi,tarih_saat
0,2019-01-01,0 days 00:00:00,67,65,2019-01-01 00:00:00
1,2019-01-01,0 days 01:00:00,10,9,2019-01-01 01:00:00
2,2019-01-01,0 days 02:00:00,1,1,2019-01-01 02:00:00
3,2019-01-01,0 days 03:00:00,3,3,2019-01-01 03:00:00
4,2019-01-01,0 days 04:00:00,1,1,2019-01-01 04:00:00

In [37]:
elkart_toplam_19=elkart_toplam_19.drop(columns={"tarih"})
elkart_toplam_19=elkart_toplam_19.drop(columns={"saat"})

In [38]:
elkart_toplam_19.head()

   yukleme_adedi  yukleme_yapilan_kart_adedi          tarih_saat
0             67                          65 2019-01-01 00:00:00
1             10                           9 2019-01-01 01:00:00
2              1                           1 2019-01-01 02:00:00
3              3                           3 2019-01-01 03:00:00
4              1                           1 2019-01-01 04:00:00

In [39]:
name_column = elkart_toplam_19.pop('tarih_saat')
elkart_toplam_19.insert(0, 'tarih_saat', name_column)

In [40]:
elkart_toplam_19.head()

           tarih_saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2019-01-01 00:00:00             67                          65
1 2019-01-01 01:00:00             10                           9
2 2019-01-01 02:00:00              1                           1
3 2019-01-01 03:00:00              3                           3
4 2019-01-01 04:00:00              1                           1

In [43]:
elkart_toplam_19.to_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2019\csv\elkart-toplam-yukleme-sayilari-2019.csv" ,header=True ,index=False)
elkart_toplam_19.to_excel(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2019\xlsx\elkart-toplam-yukleme-sayilari-2019.xlsx" ,header=True ,index=False)