In [4]:
import pandas as pd
import numpy as np

In [7]:
atik_selcuklu=pd.read_csv(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_selcuklu\139_202203_toplananatikmiktari_selcuklu.csv'
, sep=";")

In [8]:
atik_selcuklu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tarih   1856 non-null   object
 1   deger   1856 non-null   object
 2   birim   1856 non-null   object
dtypes: object(3)
memory usage: 43.6+ KB

In [16]:
atik_selcuklu = atik_selcuklu.drop(columns=['birim'])

In [20]:
atik_selcuklu = atik_selcuklu.rename(columns={'deger': 'toplanan atik miktari (Ton)'})

In [22]:
atik_selcuklu["toplanan atik miktari (Ton)"] = atik_selcuklu["toplanan atik miktari (Ton)"].str.replace(".", "")
atik_selcuklu["toplanan atik miktari (Ton)"] = atik_selcuklu["toplanan atik miktari (Ton)"].str[:-3]

C:\Users\terzi\AppData\Local\Temp\ipykernel_3444\169852146.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  atik_selcuklu["toplanan atik miktari (Ton)"] = atik_selcuklu["toplanan atik miktari (Ton)"].str.replace(".", "")

In [50]:
atik_selcuklu.head()

       tarih  toplanan atik miktari (Ton)
0 2004-12-31                            0
1 2005-12-31                        78743
2 2006-12-31                       149027
3 2007-12-31                       150048
4 2008-12-31                       163462

In [29]:
atik_selcuklu["toplanan atik miktari (Ton)"]=atik_selcuklu["toplanan atik miktari (Ton)"].astype(int)

In [46]:
atik_selcuklu["tarih"]=pd.to_datetime(atik_selcuklu["tarih"], format='%Y-%m-%d %H')

In [52]:
atik_selcuklu.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_selcuklu\toplananatikmiktari_selcuklu_temiz.csv',
index=False)
atik_selcuklu.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_selcuklu\toplananatikmiktari_selcuklu_temiz.xlsx',
index=False)