In [1]:
import pandas as pd
import numpy as np

In [4]:
atiksu_aritma = pd.read_csv(r"C:\Users\terzi\Desktop\atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari\146_202203_atiksuaritma.csv" ,sep=";")

In [5]:
atiksu_aritma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tarih   41 non-null     object
 1   deger   41 non-null     object
 2   birim   41 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [6]:
atiksu_aritma.head()

        tarih       deger birim
0  2015-01-31  611.232,00   KWH
1  2015-02-28  615.826,00   KWH
2  2015-03-31  957.527,00   KWH
3  2015-04-30  920.036,54   KWH
4  2015-05-31  928.773,29   KWH

In [7]:
atiksu_aritma = atiksu_aritma.drop("birim",axis=1)

In [8]:
atiksu_aritma.head()

        tarih       deger
0  2015-01-31  611.232,00
1  2015-02-28  615.826,00
2  2015-03-31  957.527,00
3  2015-04-30  920.036,54
4  2015-05-31  928.773,29

In [10]:
atiksu_aritma = atiksu_aritma.rename(columns={"deger":"deger_(kwh)"})

In [11]:
atiksu_aritma.head()

        tarih deger_(kwh)
0  2015-01-31  611.232,00
1  2015-02-28  615.826,00
2  2015-03-31  957.527,00
3  2015-04-30  920.036,54
4  2015-05-31  928.773,29

In [12]:
atiksu_aritma["tarih"] = pd.to_datetime(atiksu_aritma["tarih"], format="%Y-%m-%d")

In [16]:
atiksu_aritma["deger_(kwh)"] = atiksu_aritma["deger_(kwh)"].astype(str).str.replace(".","")

C:\Users\terzi\AppData\Local\Temp\ipykernel_6164\2879871750.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  atiksu_aritma["deger_(kwh)"] = atiksu_aritma["deger_(kwh)"].astype(str).str.replace(".","")

In [17]:
atiksu_aritma.head()

       tarih deger_(kwh)
0 2015-01-31   611232,00
1 2015-02-28   615826,00
2 2015-03-31   957527,00
3 2015-04-30   920036,54
4 2015-05-31   928773,29

In [18]:
atiksu_aritma["deger_(kwh)"] = atiksu_aritma["deger_(kwh)"].astype(str).str.replace(",",".")

In [27]:
atiksu_aritma.head()

       tarih deger_(kwh)
0 2015-01-31   611232.00
1 2015-02-28   615826.00
2 2015-03-31   957527.00
3 2015-04-30   920036.54
4 2015-05-31   928773.29

In [30]:
atiksu_aritma["deger_(kwh)"] = atiksu_aritma["deger_(kwh)"].astype(float)

In [31]:
type(atiksu_aritma["deger_(kwh)"][0])

numpy.float64

In [33]:
atiksu_aritma.to_csv(r"C:\Users\terzi\Desktop\atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari\csv\atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.csv" ,index=False ,header=True)
atiksu_aritma.to_excel(r"C:\Users\terzi\Desktop\atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari\excel\atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.xlsx" ,index=False ,header=True)