In [55]:
import pandas as pd
import numpy as np

In [56]:
enerji_uretim = pd.read_csv(r"C:\Users\terzi\Desktop\kati-atik-depolama-sahasi-ve-enerji-uretim-miktari\140_202203_katiatikuretilenenerji (1).csv" ,sep=";")

In [57]:
enerji_uretim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tarih   62 non-null     object
 1   deger   62 non-null     object
 2   birim   62 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

In [58]:
enerji_uretim.head()

        tarih          deger birim
0  31.12.2011   6,649,710.00   KWH
1  31.12.2012  35,336,350.00   KWH
2  31.01.2013   3,318,590.00   KWH
3  28.02.2013   3,560,870.00   KWH
4  31.03.2013   3,933,510.00   KWH

In [59]:
enerji_uretim = enerji_uretim.drop('birim', axis=1)

In [60]:
enerji_uretim.head()

        tarih          deger
0  31.12.2011   6,649,710.00
1  31.12.2012  35,336,350.00
2  31.01.2013   3,318,590.00
3  28.02.2013   3,560,870.00
4  31.03.2013   3,933,510.00

In [61]:
enerji_uretim = enerji_uretim.rename(columns={'deger' : 'deger_(kwh)'})

In [62]:
enerji_uretim.head()

        tarih    deger_(kwh)
0  31.12.2011   6,649,710.00
1  31.12.2012  35,336,350.00
2  31.01.2013   3,318,590.00
3  28.02.2013   3,560,870.00
4  31.03.2013   3,933,510.00

In [63]:
enerji_uretim['tarih'] = pd.to_datetime(enerji_uretim['tarih'], format='%d.%m.%Y')

In [64]:
enerji_uretim.head()

       tarih    deger_(kwh)
0 2011-12-31   6,649,710.00
1 2012-12-31  35,336,350.00
2 2013-01-31   3,318,590.00
3 2013-02-28   3,560,870.00
4 2013-03-31   3,933,510.00

In [75]:
enerji_uretim["deger_(kwh)"][2][:7]

'3318590'

In [66]:
enerji_uretim["deger_(kwh)"] = enerji_uretim["deger_(kwh)"].astype(str).str.replace(",","")

In [76]:
enerji_uretim["deger_(kwh)"] = enerji_uretim["deger_(kwh)"].astype(str).str[:7]

In [78]:
enerji_uretim.head()

       tarih deger_(kwh)
0 2011-12-31     6649710
1 2012-12-31     3533635
2 2013-01-31     3318590
3 2013-02-28     3560870
4 2013-03-31     3933510

In [79]:
type(enerji_uretim["deger_(kwh)"][0])

str

In [80]:
enerji_uretim = enerji_uretim.drop([0,1])

In [81]:
enerji_uretim.head()

       tarih deger_(kwh)
2 2013-01-31     3318590
3 2013-02-28     3560870
4 2013-03-31     3933510
5 2013-04-30     3565440
6 2013-05-31     3540570

In [82]:
enerji_uretim["deger_(kwh)"] = enerji_uretim["deger_(kwh)"].astype(int)

In [84]:
type(enerji_uretim["deger_(kwh)"][2])

numpy.int32

In [85]:
enerji_uretim = enerji_uretim.reset_index(drop=True)

In [89]:
enerji_uretim.head()

       tarih  deger_(kwh)
0 2013-01-31      3318590
1 2013-02-28      3560870
2 2013-03-31      3933510
3 2013-04-30      3565440
4 2013-05-31      3540570

In [92]:
enerji_uretim.to_csv(r"C:\Users\terzi\Desktop\kati-atik-depolama-sahasi-ve-enerji-uretim-miktari\csv\kati-atik-depolama-sahasi-ve-enerji-uretim-miktari(2013-2017-aylik).csv" ,index=False ,header=True)
enerji_uretim.to_excel(r"C:\Users\terzi\Desktop\kati-atik-depolama-sahasi-ve-enerji-uretim-miktari\excel\kati-atik-depolama-sahasi-ve-enerji-uretim-miktari(2013-2017-aylik).xlsx" ,index=False ,header=True)