In [18]:
import pandas as pd
import numpy as np

In [19]:
atik_karatay=pd.read_csv(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_karatay\139_202203_toplananatikmiktari_karatay.csv', sep=";")

In [39]:
atik_karatay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   tarih                        1856 non-null   datetime64[ns]
 1   toplanan atik miktari (Ton)  1856 non-null   int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 21.9 KB

In [21]:
atik_karatay=atik_karatay.drop(columns=["birim"])

In [22]:
atik_karatay=atik_karatay.rename(columns={"deger" : "toplanan atik miktari (Ton)"})

In [26]:
atik_karatay["tarih"]=pd.to_datetime(atik_karatay["tarih"], format="%Y-%m-%d %H")

In [31]:
atik_karatay["toplanan atik miktari (Ton)"]=atik_karatay["toplanan atik miktari (Ton)"].str.replace(".","")
atik_karatay["toplanan atik miktari (Ton)"]=atik_karatay["toplanan atik miktari (Ton)"].str[:-3]

C:\Users\terzi\AppData\Local\Temp\ipykernel_13132\4223192114.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  atik_karatay["toplanan atik miktari (Ton)"]=atik_karatay["toplanan atik miktari (Ton)"].str.replace(".","")

In [37]:
type(atik_karatay["toplanan atik miktari (Ton)"][1])

numpy.int32

In [36]:
atik_karatay["toplanan atik miktari (Ton)"]=atik_karatay["toplanan atik miktari (Ton)"].astype(int)

In [49]:
atik_karatay.head(9)

        tarih  toplanan atik miktari (Ton)
9  2013-01-01                          430
10 2013-02-01                          370
11 2013-03-01                          325
12 2013-04-01                          337
13 2013-05-01                          320
14 2013-06-01                          307
15 2013-07-01                          184
16 2013-08-01                          386
17 2013-09-01                          374

In [48]:
atik_karatay=atik_karatay.drop(atik_karatay.index[:9])

In [51]:
atik_karatay.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_karatay\toplanan_atik_miktari_karatay.csv',index=False ,header=True)
atik_karatay.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_karatay\toplanan_atik_miktari_karatay.xlsx',index=False ,header=True)

In [42]:
ilk9=atik_karatay.head(9)

In [47]:
ilk9.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_karatay (2004-2012)\toplanan_atik_miktari_karatay-(2004-2012).csv',index=False ,header=True)
ilk9.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\toplanan_atik_miktari_karatay (2004-2012)\toplanan_atik_miktari_karatay-(2004-2012).xlsx',index=False ,header=True)