In [1]:
#kart tipine göre kullanım sayıları verisinde:
#zabıta türünde kart sadece Şubat - 2022'den itibaren var
#engelli refakatli kart sadece Ocak - 2020'den itibaren var

In [2]:
import pandas as pd
import numpy as np

In [3]:
konyakart_turler = pd.read_csv(r"C:\Users\terzi\Desktop\veri_dogrulama\konyakart_turler.csv" ,sep=";")

In [4]:
konyakart_turler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   yıl                   623 non-null    int64
 1   ay                    623 non-null    object
 2   kart_tipi             623 non-null    object
 3   kart_kullanim_sayisi  623 non-null    int64
dtypes: int64(2), object(2)
memory usage: 19.6+ KB

In [5]:
konyakart_turler.head()

    yıl    ay      kart_tipi  kart_kullanim_sayisi
0  2019  ocak    65 YAŞ ÜSTÜ                510326
1  2019  ocak          DİĞER                370107
2  2019  ocak          BASIN                  7670
3  2019  ocak        ENGELLİ                    79
4  2019  ocak  GÖRME ENGELLİ                  1434

In [6]:
selected_rows_yeni = konyakart_turler[konyakart_turler['yıl'] == 2019]

In [7]:
toplam_yeni = selected_rows_yeni['kart_kullanim_sayisi'].sum()

In [8]:
elkart_binis_2019_temizlenmis = pd.read_excel(r"C:\Users\terzi\Desktop\veri_dogrulama\elkart_binis_2019.xlsx")

In [9]:
elkart_binis_2019_temizlenmis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886722 entries, 0 to 886721
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tarih_saat    886722 non-null  datetime64[ns]
 1   hat_no        886722 non-null  int64
 2   alt_hat_no    886722 non-null  int64
 3   binis_sayisi  886722 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.1 MB

In [10]:
elkart_binis_2019_temizlenmis.head()

           tarih_saat  hat_no  alt_hat_no  binis_sayisi
0 2019-01-01 00:00:00       1           0            53
1 2019-01-01 06:00:00       1           0             9
2 2019-01-01 07:00:00       1           0            59
3 2019-01-01 08:00:00       1           0            49
4 2019-01-01 09:00:00       1           0            85

In [11]:
toplam_eski = elkart_binis_2019_temizlenmis['binis_sayisi'].sum()

In [12]:
fark = toplam_yeni - toplam_eski

In [13]:
print("Yeni veriye göre 2019 yılındaki kart kullanım sayısı toplamı:", toplam_yeni)

Yeni veriye göre 2019 yılındaki kart kullanım sayısı toplamı: 87440892

In [14]:
print("Eski veriye göre 2019 yılındaki kart kullanım sayısı toplamı:", toplam_eski)

Eski veriye göre 2019 yılındaki kart kullanım sayısı toplamı: 87388728

In [15]:
print("Aradaki fark:", fark)

Aradaki fark: 52164

In [16]:
agustos_eski = elkart_binis_2019_temizlenmis[elkart_binis_2019_temizlenmis['tarih_saat'].dt.month == 8]
toplam_agustos_eski = agustos_eski['binis_sayisi'].sum()
selected_rows_yeni_agustos = selected_rows_yeni[selected_rows_yeni['ay'] == 'agustos']
toplam_yeni_agustos = selected_rows_yeni_agustos['kart_kullanim_sayisi'].sum()
fark_agustos = toplam_yeni_agustos - toplam_agustos_eski

In [70]:
temmuz_eski = elkart_binis_2019_temizlenmis[elkart_binis_2019_temizlenmis['tarih_saat'].dt.month == 7]

In [71]:
toplam_temmuz_eski = temmuz_eski['binis_sayisi'].sum()

In [72]:
toplam_temmuz_eski

5787089

In [73]:
selected_rows_yeni_temmuz = selected_rows_yeni[selected_rows_yeni['ay'] == 'temmuz']

In [74]:
toplam_yeni_temmuz = selected_rows_yeni_temmuz['kart_kullanim_sayisi'].sum()

In [75]:
toplam_yeni_temmuz

5790174

In [76]:
fark_temmuz = toplam_yeni_temmuz - toplam_temmuz_eski

In [34]:
print("Ocak ayları arasındaki fark:", fark_ocak)

Ocak ayları arasındaki fark: 4656

In [42]:
print("Şubat ayları arasındaki fark:", fark_subat)

Şubat ayları arasındaki fark: 4003

In [52]:
print("Mart ayları arasındaki fark:", fark_mart)

Mart ayları arasındaki fark: 5074

In [61]:
print("Nisan ayları arasındaki fark:", fark_nisan)

Nisan ayları arasındaki fark: 4014

In [69]:
print("Mayıs ayları arasındaki fark:", fark_mayis)

Mayıs ayları arasındaki fark: 4033

In [25]:
print("Haziran ayları arasındaki fark:", fark_haziran)

Haziran ayları arasındaki fark: 2587

In [77]:
print("Temmuz ayları arasındaki fark:", fark_temmuz)

Temmuz ayları arasındaki fark: 3085

In [17]:
print("Ağustos ayları arasındaki fark:", fark_agustos)

Ağustos ayları arasındaki fark: 2517