In [1]:
import pandas as pd
import numpy as np

In [2]:
bilmer=pd.read_excel(r'C:\Users\terzi\Desktop\TEMİZ\bilim_merkezi_ziyaretci_sayisi_verisi\bilmer22_temizlendi.xlsx')

In [11]:
bilmer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ay_yil                      74 non-null     datetime64[ns]
 1   randevulu_ziyaretci_sayisi  74 non-null     int64
 2   serbest_ziyaretci_sayisi    74 non-null     int64
 3   toplam_ziyaretci_sayisi     74 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.4 KB

In [10]:
bilmer.head()

,ay_yil,randevulu_ziyaretci_sayisi,serbest_ziyaretci_sayisi,toplam_ziyaretci_sayisi
0,2015-01-01,1624,5046,6670
1,2015-02-01,2692,2065,4757
2,2015-03-01,9575,23304,32879
3,2015-04-01,12221,22665,34886
4,2015-05-01,12291,83752,96043

In [9]:
type(bilmer["ay_yil"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
bilmer.to_csv(r'C:\Users\terzi\Desktop\TEMİZ\bilim_merkezi_ziyaretci_sayisi_verisi\bilmer22_temizlendi_deneme.csv', index=False)

In [17]:
bilmer2=pd.read_csv(r'C:\Users\terzi\Desktop\TEMİZ\bilim_merkezi_ziyaretci_sayisi_verisi\bilmer22_temizlendi_deneme.csv')

In [18]:
bilmer2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ay_yil                      74 non-null     object
 1   randevulu_ziyaretci_sayisi  74 non-null     int64
 2   serbest_ziyaretci_sayisi    74 non-null     int64
 3   toplam_ziyaretci_sayisi     74 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.4+ KB

In [19]:
bilmer2.head()

,ay_yil,randevulu_ziyaretci_sayisi,serbest_ziyaretci_sayisi,toplam_ziyaretci_sayisi
0,2015-01-01,1624,5046,6670
1,2015-02-01,2692,2065,4757
2,2015-03-01,9575,23304,32879
3,2015-04-01,12221,22665,34886
4,2015-05-01,12291,83752,96043

In [20]:
type(bilmer2["ay_yil"][0])

str