In [1]:
import pandas as pd
import numpy as np

In [2]:
elkart_toplam_20 = pd.read_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2020\44_202106_toplamyuklemeler2020 (1).csv" ,sep=";")

In [3]:
elkart_toplam_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7759 entries, 0 to 7758
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tarih                       7759 non-null   object
 1   saat                        7759 non-null   int64
 2   yukleme_adedi               7759 non-null   int64
 3   yukleme_yapilan_kart_adedi  7759 non-null   int64
dtypes: int64(3), object(1)
memory usage: 242.6+ KB

In [4]:
elkart_toplam_20.head()

        tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0  2020-01-01     0             75                          75
1  2020-01-01     1             13                          13
2  2020-01-01     2              4                           4
3  2020-01-01     3              2                           2
4  2020-01-01     5              3                           3

In [5]:
elkart_toplam_20['tarih'] = pd.to_datetime(elkart_toplam_20['tarih'] ,format="%Y-%m-%d")

In [6]:
elkart_toplam_20['saat'] = pd.to_timedelta(elkart_toplam_20['saat'], unit='h')

In [7]:
elkart_toplam_20.head()

       tarih            saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2020-01-01 0 days 00:00:00             75                          75
1 2020-01-01 0 days 01:00:00             13                          13
2 2020-01-01 0 days 02:00:00              4                           4
3 2020-01-01 0 days 03:00:00              2                           2
4 2020-01-01 0 days 05:00:00              3                           3

In [8]:
elkart_toplam_20['tarih_saat'] = elkart_toplam_20['tarih'] + elkart_toplam_20['saat']

In [9]:
elkart_toplam_20.head()

,tarih,saat,yukleme_adedi,yukleme_yapilan_kart_adedi,tarih_saat
0,2020-01-01,0 days 00:00:00,75,75,2020-01-01 00:00:00
1,2020-01-01,0 days 01:00:00,13,13,2020-01-01 01:00:00
2,2020-01-01,0 days 02:00:00,4,4,2020-01-01 02:00:00
3,2020-01-01,0 days 03:00:00,2,2,2020-01-01 03:00:00
4,2020-01-01,0 days 05:00:00,3,3,2020-01-01 05:00:00

In [10]:
elkart_toplam_20=elkart_toplam_20.drop(columns={"tarih"})
elkart_toplam_20=elkart_toplam_20.drop(columns={"saat"})

In [11]:
elkart_toplam_20.head()

   yukleme_adedi  yukleme_yapilan_kart_adedi          tarih_saat
0             75                          75 2020-01-01 00:00:00
1             13                          13 2020-01-01 01:00:00
2              4                           4 2020-01-01 02:00:00
3              2                           2 2020-01-01 03:00:00
4              3                           3 2020-01-01 05:00:00

In [12]:
name_column = elkart_toplam_20.pop('tarih_saat')
elkart_toplam_20.insert(0, 'tarih_saat', name_column)

In [16]:
elkart_toplam_20.head()

           tarih_saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2020-01-01 00:00:00             75                          75
1 2020-01-01 01:00:00             13                          13
2 2020-01-01 02:00:00              4                           4
3 2020-01-01 03:00:00              2                           2
4 2020-01-01 05:00:00              3                           3

In [18]:
elkart_toplam_20.to_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2020\csv\elkart-toplam-yukleme-sayilari-2020.csv" ,header=True ,index=False)
elkart_toplam_20.to_excel(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2020\xlsx\elkart-toplam-yukleme-sayilari-2020.xlsx" ,header=True ,index=False)