In [1]:
import pandas as pd
import numpy as np

In [2]:
binis_veri_19 = pd.read_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2019\48_202106_bankakartibinis2019.csv" ,sep=";")

In [19]:
binis_veri_20 = pd.read_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2020\48_202106_bankakartibinis2020.csv" ,sep=";")

In [38]:
binis_veri_21 = pd.read_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2021\48_202106_bankakartibinis2021 (1).csv" ,sep=";")

In [39]:
binis_veri_21.head()

   ana_hat_no  alt_hat_no       tarih  saat  binis_sayisi
0           1           0  2021-01-01     8             1
1           1           0  2021-01-01    14             1
2           1           0  2021-01-04     7             2
3           1           0  2021-01-04     8             1
4           1           0  2021-01-04    10             1

In [40]:
binis_veri_21["tarih"] = pd.to_datetime(binis_veri_21["tarih"] ,format = "%Y-%m-%d")

In [41]:
type(binis_veri_21["tarih"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
binis_veri_21["saat"] = pd.to_timedelta(binis_veri_21["saat"] ,unit="h")

In [43]:
type(binis_veri_21["saat"][0])

pandas._libs.tslibs.timedeltas.Timedelta

In [44]:
binis_veri_21.head()

   ana_hat_no  alt_hat_no      tarih            saat  binis_sayisi
0           1           0 2021-01-01 0 days 08:00:00             1
1           1           0 2021-01-01 0 days 14:00:00             1
2           1           0 2021-01-04 0 days 07:00:00             2
3           1           0 2021-01-04 0 days 08:00:00             1
4           1           0 2021-01-04 0 days 10:00:00             1

In [45]:
binis_veri_21["tarih_saat"] = binis_veri_21["tarih"] + binis_veri_21["saat"]

In [46]:
binis_veri_21 = binis_veri_21.drop(columns="tarih")
binis_veri_21 = binis_veri_21.drop(columns="saat")

In [47]:
binis_veri_21.head()

   ana_hat_no  alt_hat_no  binis_sayisi          tarih_saat
0           1           0             1 2021-01-01 08:00:00
1           1           0             1 2021-01-01 14:00:00
2           1           0             2 2021-01-04 07:00:00
3           1           0             1 2021-01-04 08:00:00
4           1           0             1 2021-01-04 10:00:00

In [48]:
name_column = binis_veri_21.pop('tarih_saat')
binis_veri_21.insert(0, 'tarih_saat', name_column)

In [49]:
binis_veri_21.head()

           tarih_saat  ana_hat_no  alt_hat_no  binis_sayisi
0 2021-01-01 08:00:00           1           0             1
1 2021-01-01 14:00:00           1           0             1
2 2021-01-04 07:00:00           1           0             2
3 2021-01-04 08:00:00           1           0             1
4 2021-01-04 10:00:00           1           0             1

In [50]:
type(binis_veri_21["binis_sayisi"][0])

numpy.int64

In [51]:
binis_veri_21["alt_hat_no"] = binis_veri_21["alt_hat_no"].astype(str)

In [52]:
type(binis_veri_21["alt_hat_no"][0])

str

In [53]:
binis_veri_21["ana_hat_no"] = binis_veri_21["ana_hat_no"].astype(str)

In [54]:
type(binis_veri_21["ana_hat_no"][0])

str

In [37]:
binis_veri_19.head()

           tarih_saat ana_hat_no alt_hat_no  binis_sayisi
0 2019-01-01 00:00:00          1          0             1
1 2019-01-01 09:00:00          1          0             1
2 2019-01-01 11:00:00          1          0             6
3 2019-01-01 12:00:00          1          0             7
4 2019-01-01 13:00:00          1          0             8

In [58]:
binis_veri_19.to_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2019\csv\banka-karti-ile-binis-sayilari.csv" ,header=True ,index=False)
binis_veri_19.to_excel(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2019\xlsx\banka-karti-ile-binis-sayilari.xlsx" ,header=True ,index=False)

In [36]:
binis_veri_20.head()

           tarih_saat ana_hat_no alt_hat_no  binis_sayisi
0 2020-01-01 08:00:00          1          0             1
1 2020-01-01 09:00:00          1          0             1
2 2020-01-01 13:00:00          1          0             2
3 2020-01-01 14:00:00          1          0             2
4 2020-01-01 15:00:00          1          0             1

In [59]:
binis_veri_20.to_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2020\csv\banka-karti-ile-binis-sayilari.csv" ,header=True ,index=False)
binis_veri_20.to_excel(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2020\xlsx\banka-karti-ile-binis-sayilari.xlsx" ,header=True ,index=False)

In [55]:
binis_veri_21.head()

           tarih_saat ana_hat_no alt_hat_no  binis_sayisi
0 2021-01-01 08:00:00          1          0             1
1 2021-01-01 14:00:00          1          0             1
2 2021-01-04 07:00:00          1          0             2
3 2021-01-04 08:00:00          1          0             1
4 2021-01-04 10:00:00          1          0             1

In [60]:
binis_veri_21.to_csv(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2021\csv\banka-karti-ile-binis-sayilari.csv" ,header=True ,index=False)
binis_veri_21.to_excel(r"C:\Users\terzi\Desktop\banka-karti-ile-binis-sayilari\2021\xlsx\banka-karti-ile-binis-sayilari.xlsx" ,header=True ,index=False)