In [77]:
import pandas as pd
import numpy as np

In [78]:
bisiklet_konum = pd.read_csv(r"C:\Users\terzi\Desktop\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari\153_202203_bisikletparkalanlari.csv" ,sep=";")

In [79]:
bisiklet_konum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    105 non-null    object
 1   wkt     105 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [80]:
bisiklet_konum.head()

                      name                                              wkt
0  KAMPÜS 02A BOSNA HERSEK  POINT Z (32.51877984190408 38.00940102091862 0)
1  KAMPÜS 02B BOSNA HERSEK  POINT Z (32.51938029678481 38.00947915130062 0)
2     KAMPÜS 03 BUZLUKBAŞI  POINT Z (32.51973693158448 38.00250371121295 0)
3  KAMPÜS 04 FIRAT CADDESİ   POINT Z (32.5184303520723 37.99464895249642 0)
4      KAMPÜS 05 PİRİ REİS  POINT Z (32.51770962074744 37.98915648742838 0)

In [81]:
bisiklet_konum = bisiklet_konum.rename(columns={"name":"park_alani_isimleri" , "wkt" : "park_alani_konumlari"})

In [82]:
bisiklet_konum.head()

       park_alani_isimleri                             park_alani_konumlari
0  KAMPÜS 02A BOSNA HERSEK  POINT Z (32.51877984190408 38.00940102091862 0)
1  KAMPÜS 02B BOSNA HERSEK  POINT Z (32.51938029678481 38.00947915130062 0)
2     KAMPÜS 03 BUZLUKBAŞI  POINT Z (32.51973693158448 38.00250371121295 0)
3  KAMPÜS 04 FIRAT CADDESİ   POINT Z (32.5184303520723 37.99464895249642 0)
4      KAMPÜS 05 PİRİ REİS  POINT Z (32.51770962074744 37.98915648742838 0)

In [83]:
bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str.replace("POINT Z ","")
bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str.replace("(","")
bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str.replace(")","")

C:\Users\terzi\AppData\Local\Temp\ipykernel_11940\2850192041.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str.replace("(","")
C:\Users\terzi\AppData\Local\Temp\ipykernel_11940\2850192041.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str.replace(")","")

In [84]:
bisiklet_konum.head()

       park_alani_isimleri                   park_alani_konumlari
0  KAMPÜS 02A BOSNA HERSEK  32.51877984190408 38.00940102091862 0
1  KAMPÜS 02B BOSNA HERSEK  32.51938029678481 38.00947915130062 0
2     KAMPÜS 03 BUZLUKBAŞI  32.51973693158448 38.00250371121295 0
3  KAMPÜS 04 FIRAT CADDESİ   32.5184303520723 37.99464895249642 0
4      KAMPÜS 05 PİRİ REİS  32.51770962074744 37.98915648742838 0

In [85]:
bisiklet_konum["park_alani_konumlari"][4][:-1]

'32.51770962074744 37.98915648742838 '

In [86]:
bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str[:-1]

In [87]:
bisiklet_konum.head()

       park_alani_isimleri                  park_alani_konumlari
0  KAMPÜS 02A BOSNA HERSEK  32.51877984190408 38.00940102091862
1  KAMPÜS 02B BOSNA HERSEK  32.51938029678481 38.00947915130062
2     KAMPÜS 03 BUZLUKBAŞI  32.51973693158448 38.00250371121295
3  KAMPÜS 04 FIRAT CADDESİ   32.5184303520723 37.99464895249642
4      KAMPÜS 05 PİRİ REİS  32.51770962074744 37.98915648742838

In [88]:
bisiklet_konum["park_alani_konumlari"][4][:-1]

'32.51770962074744 37.98915648742838'

In [89]:
bisiklet_konum["park_alani_konumlari"] = bisiklet_konum["park_alani_konumlari"].astype(str).str[:-1]

In [90]:
bisiklet_konum.head()

       park_alani_isimleri                 park_alani_konumlari
0  KAMPÜS 02A BOSNA HERSEK  32.51877984190408 38.00940102091862
1  KAMPÜS 02B BOSNA HERSEK  32.51938029678481 38.00947915130062
2     KAMPÜS 03 BUZLUKBAŞI  32.51973693158448 38.00250371121295
3  KAMPÜS 04 FIRAT CADDESİ   32.5184303520723 37.99464895249642
4      KAMPÜS 05 PİRİ REİS  32.51770962074744 37.98915648742838

In [91]:
bisiklet_konum[['boylam', 'enlem']] = bisiklet_konum['park_alani_konumlari'].str.split(' ', expand=True)

In [92]:
bisiklet_konum.head()

,park_alani_isimleri,park_alani_konumlari,boylam,enlem
0,KAMPÜS 02A BOSNA HERSEK,32.51877984190408 38.00940102091862,32.51877984190408,38.00940102091862
1,KAMPÜS 02B BOSNA HERSEK,32.51938029678481 38.00947915130062,32.51938029678481,38.00947915130062
2,KAMPÜS 03 BUZLUKBAŞI,32.51973693158448 38.00250371121295,32.51973693158448,38.00250371121295
3,KAMPÜS 04 FIRAT CADDESİ,32.5184303520723 37.99464895249642,32.5184303520723,37.99464895249642
4,KAMPÜS 05 PİRİ REİS,32.51770962074744 37.98915648742838,32.51770962074744,37.98915648742838

In [93]:
bisiklet_konum = bisiklet_konum.drop(columns={"park_alani_konumlari"})

In [94]:
bisiklet_konum.head()

       park_alani_isimleri             boylam              enlem
0  KAMPÜS 02A BOSNA HERSEK  32.51877984190408  38.00940102091862
1  KAMPÜS 02B BOSNA HERSEK  32.51938029678481  38.00947915130062
2     KAMPÜS 03 BUZLUKBAŞI  32.51973693158448  38.00250371121295
3  KAMPÜS 04 FIRAT CADDESİ   32.5184303520723  37.99464895249642
4      KAMPÜS 05 PİRİ REİS  32.51770962074744  37.98915648742838

In [95]:
enlem = bisiklet_konum['enlem']
bisiklet_konum_2 = bisiklet_konum.drop('enlem', axis=1)
orta_index = len(bisiklet_konum_2.columns) // 2
bisiklet_konum_2.insert(orta_index, 'enlem', enlem)

In [96]:
bisiklet_konum.head()

       park_alani_isimleri             boylam              enlem
0  KAMPÜS 02A BOSNA HERSEK  32.51877984190408  38.00940102091862
1  KAMPÜS 02B BOSNA HERSEK  32.51938029678481  38.00947915130062
2     KAMPÜS 03 BUZLUKBAŞI  32.51973693158448  38.00250371121295
3  KAMPÜS 04 FIRAT CADDESİ   32.5184303520723  37.99464895249642
4      KAMPÜS 05 PİRİ REİS  32.51770962074744  37.98915648742838

In [97]:
bisiklet_konum_2.head()

       park_alani_isimleri              enlem             boylam
0  KAMPÜS 02A BOSNA HERSEK  38.00940102091862  32.51877984190408
1  KAMPÜS 02B BOSNA HERSEK  38.00947915130062  32.51938029678481
2     KAMPÜS 03 BUZLUKBAŞI  38.00250371121295  32.51973693158448
3  KAMPÜS 04 FIRAT CADDESİ  37.99464895249642   32.5184303520723
4      KAMPÜS 05 PİRİ REİS  37.98915648742838  32.51770962074744

In [98]:
bisiklet_konum_2.to_csv(r"C:\Users\terzi\Desktop\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari\csv\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari.csv" ,index=False ,header=True)
bisiklet_konum_2.to_excel(r"C:\Users\terzi\Desktop\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari\xlsx\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari.xlsx" ,index=False ,header=True)

In [72]:
bisiklet_konum_2["park_alani_konumlari"] = bisiklet_konum_2["enlem"].astype(str) + "," + bisiklet_konum_2["boylam"].astype(str)

In [73]:
bisiklet_konum_2.head()

,park_alani_isimleri,enlem,boylam,park_alani_konumlari
0,KAMPÜS 02A BOSNA HERSEK,38.00940102091862,32.51877984190408,"38.00940102091862,32.51877984190408"
1,KAMPÜS 02B BOSNA HERSEK,38.00947915130062,32.51938029678481,"38.00947915130062,32.51938029678481"
2,KAMPÜS 03 BUZLUKBAŞI,38.00250371121295,32.51973693158448,"38.00250371121295,32.51973693158448"
3,KAMPÜS 04 FIRAT CADDESİ,37.99464895249642,32.5184303520723,"37.99464895249642,32.5184303520723"
4,KAMPÜS 05 PİRİ REİS,37.98915648742838,32.51770962074744,"37.98915648742838,32.51770962074744"

In [74]:
bisiklet_konum_2 = bisiklet_konum_2.drop(columns={"enlem"})
bisiklet_konum_2 = bisiklet_konum_2.drop(columns={"boylam"})

In [75]:
bisiklet_konum_2.head()

       park_alani_isimleri                 park_alani_konumlari
0  KAMPÜS 02A BOSNA HERSEK  38.00940102091862,32.51877984190408
1  KAMPÜS 02B BOSNA HERSEK  38.00947915130062,32.51938029678481
2     KAMPÜS 03 BUZLUKBAŞI  38.00250371121295,32.51973693158448
3  KAMPÜS 04 FIRAT CADDESİ   37.99464895249642,32.5184303520723
4      KAMPÜS 05 PİRİ REİS  37.98915648742838,32.51770962074744

In [76]:
bisiklet_konum_2.to_csv(r"C:\Users\terzi\Desktop\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari\csv\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari.csv" ,index=False ,header=True)
bisiklet_konum_2.to_excel(r"C:\Users\terzi\Desktop\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari\xlsx\bisiklet-park-alanlari-ve-istasyonlarinin-konumlari.xlsx" ,index=False ,header=True)