In [92]:
import pandas as pd
import numpy as np

In [93]:
tuketilen_su_miktari=pd.read_csv(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\145_202204_tuketilensumiktari-1.csv', sep=";")

In [97]:
tuketilen_su_miktari.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tarih                      73 non-null     object
 1   tuketilen su miktari (m3)  73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [95]:
tuketilen_su_miktari = tuketilen_su_miktari.drop(columns=['birim'])

In [96]:
tuketilen_su_miktari = tuketilen_su_miktari.rename(columns={'deger': 'tuketilen su miktari (m3)'})

In [99]:
tuketilen_su_miktari["tuketilen su miktari (m3)"] = tuketilen_su_miktari["tuketilen su miktari (m3)"].str.replace(".", "")
tuketilen_su_miktari["tuketilen su miktari (m3)"] = tuketilen_su_miktari["tuketilen su miktari (m3)"].str[:-3]

C:\Users\terzi\AppData\Local\Temp\ipykernel_9192\1875320926.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tuketilen_su_miktari["tuketilen su miktari (m3)"] = tuketilen_su_miktari["tuketilen su miktari (m3)"].str.replace(".", "")

In [100]:
tuketilen_su_miktari["tuketilen su miktari (m3)"]=tuketilen_su_miktari["tuketilen su miktari (m3)"].astype(int)

In [103]:
tuketilen_su_miktari.head(10)

       tarih  tuketilen su miktari (m3)
0 2004-12-31                   42282067
1 2005-12-31                   41561123
2 2006-12-31                   44170976
3 2007-12-31                   41617645
4 2008-12-31                   43224677
5 2009-12-31                   44286834
6 2010-12-31                   46613468
7 2011-12-31                   48932583
8 2012-12-31                   52493964
9 2013-01-31                    3634350

In [102]:
tuketilen_su_miktari["tarih"]=pd.to_datetime(tuketilen_su_miktari["tarih"], format="%d.%m.%Y")

In [105]:
tuketilen_su_miktari.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\tuketilen_su_miktari_temiz.csv', index=False)
tuketilen_su_miktari.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\tuketilen_su_miktari_temiz.xlsx', index=False)