In [1]:
import pandas as pd
import numpy as np

In [4]:
adres_tespit = pd.read_csv(r"C:\Users\terzi\Desktop\e-numarataj-adres-tespiti-basvuru-sayisi\119_202106_enumaratajadrestespiti.csv" ,sep=";")

In [5]:
adres_tespit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ay                             6 non-null      object
 1   adres_tespit_basvurusu_sayisi  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [9]:
adres_tespit.head(10)

          ay  adres_tespit_basvurusu_sayisi
0  1.01.2021                            161
1  1.02.2021                            210
2  1.03.2021                            277
3  1.04.2021                            212
4  1.05.2021                            263
5  1.06.2021                            278

In [10]:
adres_tespit["ay"] = pd.to_datetime(adres_tespit["ay"] ,format="%d.%m.%Y")

In [11]:
adres_tespit.head(10)

          ay  adres_tespit_basvurusu_sayisi
0 2021-01-01                            161
1 2021-02-01                            210
2 2021-03-01                            277
3 2021-04-01                            212
4 2021-05-01                            263
5 2021-06-01                            278

In [15]:
adres_tespit.to_csv(r"C:\Users\terzi\Desktop\e-numarataj-adres-tespiti-basvuru-sayisi\csv\e-numarataj-adres-tespiti-basvuru-sayisi.csv" ,index=False ,header=True)
adres_tespit.to_excel(r"C:\Users\terzi\Desktop\e-numarataj-adres-tespiti-basvuru-sayisi\xlsx\e-numarataj-adres-tespiti-basvuru-sayisi.xlsx" ,index=False ,header=True)