In [1]:
import pandas as pd
import numpy as np

In [3]:
elkart_toplam_21 = pd.read_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2021\44_202106_toplamyuklemeler2021 (2).csv" ,sep=";")

In [4]:
elkart_toplam_21.head()

        tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0  2021-01-01     0              2                           2
1  2021-01-01     1              1                           1
2  2021-01-01     4              1                           1
3  2021-01-01     7             27                          27
4  2021-01-01     8             19                          19

In [5]:
elkart_toplam_21['tarih'] = pd.to_datetime(elkart_toplam_21['tarih'] ,format="%Y-%m-%d")

In [6]:
elkart_toplam_21['saat'] = pd.to_timedelta(elkart_toplam_21['saat'], unit='h')

In [7]:
elkart_toplam_21['tarih_saat'] = elkart_toplam_21['tarih'] + elkart_toplam_21['saat']

In [8]:
elkart_toplam_21=elkart_toplam_21.drop(columns={"tarih"})
elkart_toplam_21=elkart_toplam_21.drop(columns={"saat"})

In [10]:
name_column = elkart_toplam_21.pop('tarih_saat')
elkart_toplam_21.insert(0, 'tarih_saat', name_column)

In [13]:
elkart_toplam_21.head()

           tarih_saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2021-01-01 00:00:00              2                           2
1 2021-01-01 01:00:00              1                           1
2 2021-01-01 04:00:00              1                           1
3 2021-01-01 07:00:00             27                          27
4 2021-01-01 08:00:00             19                          19

In [15]:
elkart_toplam_21.to_csv(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2021\csv\elkart-toplam-yukleme-sayilari-2021.csv" ,header=True ,index=False)
elkart_toplam_21.to_excel(r"C:\Users\terzi\Desktop\elkart-toplam-yukleme-sayilari\2021\xlsx\elkart-toplam-yukleme-sayilari-2021.xlsx" ,header=True ,index=False)