In [30]:
import pandas as pd
import numpy as np

In [31]:
tuketilen_su_miktari_2=pd.read_csv(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\tuketilen_su_miktari_temiz.csv')

In [35]:
tuketilen_su_miktari_2.head()

       tarih  tuketilen su miktari (m3)
0 2013-01-31                    3634350
1 2013-02-28                    3144191
2 2013-03-31                    3247529
3 2013-04-30                    3667498
4 2013-05-31                    4384006

In [34]:
tuketilen_su_miktari_2["tarih"]=pd.to_datetime(tuketilen_su_miktari_2["tarih"], format="%Y-%m-%d %H")

In [22]:
ilk9=tuketilen_su_miktari_2.head(9)

In [43]:
ilk9.head()

       tarih  tuketilen su miktari (m3)
0 2004-12-31                   42282067
1 2005-12-31                   41561123
2 2006-12-31                   44170976
3 2007-12-31                   41617645
4 2008-12-31                   43224677

In [41]:
ilk9["tarih"]=pd.to_datetime(ilk9["tarih"], format="%Y-%m-%d %H")

In [42]:
type(ilk9["tarih"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
tuketilen_su_miktari_2=tuketilen_su_miktari_2.drop(tuketilen_su_miktari_2.index[:9])

In [37]:
tuketilen_su_miktari_2.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\tuketilen_su_miktari_temiz.csv', index=False)
tuketilen_su_miktari_2.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari\tuketilen_su_miktari_temiz.xlsx', index=False)

In [44]:
ilk9.to_csv(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari (2004-2012)\tuketilen_su_miktari_2004-2012_temiz.csv', index=False)
ilk9.to_excel(r'C:\Users\terzi\Desktop\temizlenecekler\tuketilen_su_miktari (2004-2012)\tuketilen_su_miktari_2004-2012_temiz.xlsx', index=False)