In [56]:
import pandas as pd
import numpy as np

In [57]:
data= pd.read_csv(r"C:\Users\terzi\Desktop\e-numarataj-toplam-basvuru-sayilari-2021\109_202106_enumaratajtoplambasvuru2021.csv" ,sep=";")

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ay                     6 non-null      object
 1   toplam_basvuru_sayisi  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [66]:
data["ay"][0] = "01-01-2021"
data["ay"][1] = "01-02-2021"
data["ay"][2] = "01-03-2021"
data["ay"][3] = "01-04-2021"
data["ay"][4] = "01-05-2021"
data["ay"][5] = "01-06-2021"

C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][0] = "01-01-2021"
C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][1] = "01-02-2021"
C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][2] = "01-03-2021"
C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][3] = "01-04-2021"
C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][4] = "01-05-2021"
C:\Users\terzi\AppData\Local\Temp\ipykernel_14208\3765364237.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ay"][5] = "01-06-2021"

In [71]:
data.head(20)

          ay  toplam_basvuru_sayisi
0 2021-01-01                    529
1 2021-02-01                    644
2 2021-03-01                    965
3 2021-04-01                    815
4 2021-05-01                    796
5 2021-06-01                   1089

In [69]:
data["ay"]=pd.to_datetime(data["ay"] ,format="%d-%m-%Y")

In [70]:
type(data["ay"][5])

pandas._libs.tslibs.timestamps.Timestamp

In [74]:
data = data.rename(columns={"ay" : "ay_yil"})

In [75]:
data.head(20)

      ay_yil  toplam_basvuru_sayisi
0 2021-01-01                    529
1 2021-02-01                    644
2 2021-03-01                    965
3 2021-04-01                    815
4 2021-05-01                    796
5 2021-06-01                   1089

In [77]:
data.to_csv(r"C:\Users\terzi\Desktop\e-numarataj-toplam-basvuru-sayilari-2021\csv\e-numarataj-toplam-basvuru-sayilari-2021.csv" ,index=False ,header=True)
data.to_excel(r"C:\Users\terzi\Desktop\e-numarataj-toplam-basvuru-sayilari-2021\excel\e-numarataj-toplam-basvuru-sayilari-2021.xlsx" ,index=False ,header=True)